.formContainer {
    padding-left: 2em;
    margin-left: auto;
    margin-right: auto;
    max-width: 30em;
    display: flex;
    flex-direction: column; /* Add this line to stack children vertically */
}

.formTitle {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center; /* Center the title */
}

.form {
    display: flex;
    flex-direction: column; /* Keep this to stack form items vertically */
}

.formItem {
    padding: 15px;
    margin: 1px; 
    width: 100%; 
    box-sizing: border-box;
}

.formItem input {
    width: 100%;            /* Ensures the input takes the full width of the container */
    height: 25px;          /* Adjust the height as needed */
    padding: 10px;         /* Add padding for better spacing */
    font-size: 16px;       /* Increase font size for better readability */
    border: 1px solid #ccc;/* Optional: Add a border to inputs */
    border-radius: 4px;    /* Optional: Add rounded corners */
}

.submitButton {
    padding: 10px 20px;
    background-color: rgb(0, 106, 255);
    color: #ffffff;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    margin-top: 5%;
}
