.pageContainer {
    display: flex;
}

.mainContent {
    flex-grow: 1;
    transition: margin-left 0.3s ease; /* Smooth transition when side panel opens */
    margin-left: 40px; /* Default margin when side panel is closed */
    margin-right: 40px;
}

.openSidePanel {
    margin-left: 100px; /* Shift content when side panel is open */
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.submitButton {
    padding: 10px 20px;
    background-color: rgb(0, 106, 255);
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: 140px;
    height: 40px;
    
    &:hover {
        background-color: #0056b3;
        color: white;
    }
}
