// styles/rating.module.scss

.ratingContainer {
    display: flex;
    cursor: pointer;
}

.star {
    font-size: 24px; /* Adjust size as needed */
    color: lightgray; /* Default star color */
    transition: color 0.2s;
}

.star.filled {
    color: gold; /* Color for filled stars */
}
