/* src/styles/submission.module.scss */
.container {
    padding-left: 2em;
    margin-left: auto;
    margin-right: auto;
    max-width: 50em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actionButtonsContainer {
    display: flex;
    justify-content: flex-end;
    gap: 10px; /* Space between buttons */
}

.approveButton {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.rejectButton {
    background-color: #f44336; /* Red */
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.statusContainer {
    padding-right: 15px;
    text-align: left;
}

.sendButton {
    margin-top: 80px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 40%;
}
